<p style="color: green"><%= notice %></p>

<% content_for :title, "Tweets" %>

<h1>Tweets</h1>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>

    <%= link_to raw("<i class='fa-regular fa-comment'></i>"), tweet%>

  <% end %>
</div>

<%= link_to "New tweet", new_tweet_path %>
